:root {
	--main: #21fa90;
	--accent: #09BC8A;
	--accent-alt: #8D6A9F;
	--another-alt: #39a0ed;
	--dark: #030027;
	--light: #E9EBF8;
}

html,
body {
	width: 100%;
	margin: 0;
	padding: 0;
	font-size: 20px;
	font-family: 'Mulish', sans-serif;
	color: var(--light);
	background-color: var(--dark);
}

header {
	font-size: 30px;
	height: 2em;
}


/* =============== Navbar =============== */


/* Need to revisit after compleated with the rest of the site */

.navbar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: var(--accent);
}

.navbar_item {
	float: left;
	margin: 0 1em;
}

.navbar_item a {
	display: block;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.navbar_item a:hover {
	background-color: #111;
}

.navbar_logo {
	background-color: #111;
	display: inline-block;
	width: 64px;
	padding: 0;
}

#navbar_item-right {
	float: right;
}


/* ============================== */

.hero_wrapper {
	top: 50%;
	left: 50%;
	transform: translate(30%, 50%);
	/* Come back to center hero later. */
	font-size: 2rem;
	width: 40%;
}

.hero {
	height: 100vh;
	background-image: url("images/Hero.jpeg");
}

.hero_title {
	color: var(--main);
	margin: 0;
}

.hero_cta {
	padding: 1em 2em;
	color: black;
	border: none;
	text-align: center;
	background-color: white;
	text-decoration: none;
	font-size: 16px;
	box-shadow: 0 4px 8px 0 black;
}

.intro {
	height: 50vh;
	background-color: var(--accent-alt);
	color: black;
	/* needs to properly be centered */
}

.intro_wrapper {
	width: 50%;
	height: 40%;
	margin: 3em 2em;
	padding: 0;
	display: inline-block;
}

.intro_title {
	font-size: 2em;
}

.intro_cta {
	color: black;
	padding: 1em 2em;
	border-radius: 5px;
	border: none;
	text-align: center;
	background-color: var(--accent);
	text-decoration: none;
	font-size: 16px;
	display: inline-block;
}

.intro_picture {
	display: inline-block;
	object-fit: cover;
	border-radius: 8px;
	margin: 1em 0;
	width: 25%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.newsletter {
	text-align: center;
	height: 50vh;
}

.newsletter {
	font-size: 2em;
}

.newsletter_input {
	width: 30%;
	height: 3em;
	border: 2px solid var(--another-alt);
	border-radius: 4px;
}

.newsletter_btn {
	padding: 1em 2em;
	border-radius: 5px;
	border: none;
	text-align: center;
	background-color: var(--accent);
	text-decoration: none;
	font-size: 16px;
	display: inline-block;
}

.todo {
	font-size: 30px;
	height: 40%;
	text-align: center;
	margin: 5em 0;
}

.todo_title {
	text-align: center;
	font-size: 2em;
}

.todo_wrapper {
	display: inline-block;
	margin: 0 3.4em;
	height: 100%;
	width: 40%;
}

.todo_btn {
	color: black;
	padding: 1em 2em;
	border: none;
	text-align: center;
	background-color: #B492B9;
	text-decoration: none;
	font-size: 16px;
	box-shadow: 0 4px 8px 0 black
}

.todo_img {
	display: inline-block;
	width: 30%;
	box-shadow: 2em 2em 2px 1px rgba(9, 188, 138, 0.5);
	border-radius: 8px;
}

.contact {
	display: block;
	text-align: center;
}

.form {
	display: inline-block;
	height: 50vh;
	width: 20vw;
	margin: 7em 3em;
	background-color: var(--light);
	border-radius: 8px;
	box-shadow: 0 4px 8px 0 black, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	color: var(--dark);
}

.form label {
	display: inline-block;
	margin: .5em 0;
	text-align: left;
}

.form_input {
	display: inline-block;
	margin: 1em;
	width: 85%;
	height: 5%;
}

.form_input-submit {
	border: none;
	background-color: var(--accent-alt);
	border-radius: 10px;
}

/* ============= Footer ============ */

.footer {
	height: 5vh;
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: var(--accent);
}

.footer_item {
	display: inline-block;
	margin: 0 5em;
	/* needs to properly be centered */
}

.footer_item img {
	height: 2em;
}
.copy {
	float: right;
}
